<div class="resetPassword">
  <div class=" login-container mx-auto w-75">
    <h3>Reset Password:</h3>
    <div *ngIf="errMessage" class=" alert alert-danger">{{errMessage}}</div>
    <form (ngSubmit)="submitResetPassword(resetPassword)" [formGroup]="resetPassword">

      <div>
        <label for="email">Email:</label>
        <input formControlName="email" class="mb-3 mt-1 form-control" type="email" name="email" id="email">
        <div *ngIf="resetPassword.get('email')?.errors && resetPassword.get('email')?.touched"
          class="alert alert-danger">
          <p class="m-0" *ngIf="resetPassword.get('email')?.getError('required')">Email is Required</p>
          <p class="m-0" *ngIf="resetPassword.get('email')?.getError('email')">Email is not valid</p>
        </div>
      </div>

      <div>
        <label for="newPassword">newPassword:</label>
        <input formControlName="newPassword" class="mb-3 mt-1 form-control" type="password" name="newPassword"
          id="newPassword">
        <div *ngIf="resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched"
          class="alert alert-danger">
          <p class="m-0" *ngIf="resetPassword.get('newPassword')?.getError('required')">New Password is Required</p>
          <p class="m-0" *ngIf="resetPassword.get('newPassword')?.getError('pattern')">New Password must contain at
            least one
            number and one special character</p>
        </div>
      </div>

      <button [disabled]="!resetPassword.valid" type="submit" class="btn auth-btn text-white d-block ms-auto">
        <span *ngIf="!loading">Set New Password</span>
        <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
      </button>

    </form>
  </div>
</div>