<div class="footer container-fluid bg-light p-4 mt-5">
  <h3>Get the FreshCart app</h3>
  <p>We will send you a link, open it on your phone to download the app.</p>
  <form>
    <div class="row mb-4">
      <div class="col-md-10">
        <input class="form-control" type="email" name="email" placeholder="Email..">
      </div>
      <div class="col-md-2">
        <button class="btn text-white ms-auto d-block">Share App Link</button>
      </div>
    </div>
  </form>
  <div class="line"></div>
  <div class="row">
    <div class="col-sm-5">
      <div class="partners d-flex">
        <div class="my-auto">
          <p class="m-0 fs-12px">Payment Partners</p>
        </div>
        <div class="img-container">
          <img class="w-100" src="./assets/images/Partners/Amazon_Pay_logo.png" alt="">
        </div>
        <div class="img-container">
          <img class="w-100" src="./assets\images\Partners/American-Express-Logo.png" alt="">
        </div>
        <div class="img-container">
          <img class="w-100" src="./assets\images\Partners/MasterCard.png" alt="">
        </div>
        <div class="img-container">
          <img class="w-100" src="./assets\images\Partners/PayPal.png" alt="">
        </div>
      </div>
    </div>
    <div class="d-flex ms-auto col-sm-4">
      <div class="my-auto">
        <p class="m-0 fs-12px">Get deliveries with FreshCart</p>
      </div>
      <div class="img2-container">
        <img class="w-100" src="./assets/images/Available-on-app-store-button-graphic.png" alt="">
      </div>
      <div class="img2-container">
        <img class="w-100" src="./assets/images/get-it-on-google-play.png" alt="">
      </div>
    </div>
  </div>

  <div class="line"></div>
  <div class="d-flex mt-3">
    <ul class="social-links mt-2 mt-lg-0">
      <li class="nav-item me-3 ms-3">
        <a class="text-dark" href=""><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="nav-item me-3 ms-3">
        <a class="text-dark" href=""><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="nav-item me-3 ms-3">
        <a class="text-dark" href=""><i class="fa-brands fa-tiktok"></i></a>
      </li>
      <li class="nav-item me-3 ms-3">
        <a class="text-dark" href=""><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="nav-item me-3 ms-3">
        <a class="text-dark" href=""><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li class="nav-item me-3 ms-3">
        <a class="text-dark" href=""><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </div>

</div>