.pos-badge {
  top: -7px;
  right: -25px;
}

.navLinkActive {
  color: white;
}

.nav-link {
  border-radius: 10px;
  margin-right: 5px;
}
.nav-link:hover {
  background-color: #4fa74f;
  color: white;
  transition: 0.3s;
}
