<div class="forgetPassword p-5">
  <div *ngIf="errMsgEmail" class="alert alert-danger">{{errMsgEmail}}</div>
  <form class="mt-5" (ngSubmit)="forgetPasswordSubmit(forgetPassword)" [formGroup]="forgetPassword">
    <label for="">Email:</label>
    <input formControlName="email" class="form-control my-2" type="email">
    <div *ngIf="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="forgetPassword.get('email')?.errors?.['required']" class="m-0">Email Required</p>
      <p *ngIf="forgetPassword.get('email')?.errors?.['email']" class="m-0">Email is not Valid</p>
    </div>
    <button [disabled]="!forgetPassword.valid" class="btn bg-main text-white mt-2 ms-auto d-block">
      <span *ngIf="!loading">Send Email</span>
      <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>
<div class="resetCode d-none p-5">
  <div *ngIf="errMsgCode" class="alert alert-danger">{{errMsgCode}}</div>
  <form class="mt-5" (ngSubmit)="resetCodeSubmit(resetCodeForm)" [formGroup]="resetCodeForm">
    <label for="">Code:</label>
    <input formControlName="resetCode" class="form-control my-2" type="resetCode">
    <div *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched"
      class="alert alert-danger">
      <p *ngIf="resetCodeForm.get('resetCode')?.errors?.['required']" class="m-0">Code Required</p>
      <p *ngIf="resetCodeForm.get('resetCode')?.errors?.['resetCode']" class="m-0">Code is not Valid</p>
    </div>
    <button [disabled]="!resetCodeForm.valid" class="btn bg-main text-white mt-2 ms-auto d-block">
      <span *ngIf="!loading">Verify Code</span>
      <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>